{% extends "::base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for slide in slides %}
                            {% if loop.index == 1 %}
                                <div class="item active">
                                    <img class="img-responsive img-full" src="{{ asset('uploads/' ~ slide.image.path) }}" alt="">
                                </div>
                            {% else %}
                                <div class="item">
                                    <img class="img-responsive img-full" src="{{ asset('uploads/' ~ slide.image.path) }}" alt="">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>


                <hr class="tagline-divider">
                <h2>
                    <small>
                        <strong>{{ application.citation }}</strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">

            <div class="col-sm-4 text-center">
                <div class="features">

                    <img class="img-responsive mainpage" src="{{ asset('img/association.gif') }}" alt="">
                    <h3>Découvrez
                        <small>l'association</small>
                    </h3>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="features">
                    <a href="{{ path('cp_produits') }}"><img class="img-responsive mainpage" src="{{ asset('img/boutique.gif') }}" alt=""></a>
                    <h3>Visitez
                        <small>notre boutique</small>
                    </h3>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="features">
                    <a href="{{ path('cp_newsletter') }}"><img class="img-responsive mainpage" src="{{ asset('img/newsletter.gif') }}" alt=""></a>
                    <h3>Abonnez vous <small>(1 502)</small></h3>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>



    <br>
    {% if application.spectacle != null or application.jeunepublic != null %}
    <div class="row">

            <div class="col-lg-12">

                {% if application.spectacle != null %}
                    {% include "CPBundle:Spectacle:template.html.twig" with {'representation' : application.spectacle } %}
                {% endif %}

                {% if application.jeunepublic != null %}
                    {% include "CPBundle:Jeunepublic:template.html.twig" with {'representation' : application.jeunepublic } %}
                {% endif %}
        </div>
    </div>
    {% endif %}


{% endblock %}